<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>NEW CHAT</h1>
    <br>
    <h2>New Chat</h2>
    <form action="/chats" method="post">
        <label for="from">From</label>
        <input type="text" placeholder="from" name="from">
        <br><br>
        <label for="to">to</label>
        <input type="text" placeholder="to" name="to">
        <br><br>
        <textarea name="msg" placeholder="message"></textarea>
        <br><br>
        <button>Create Chat</button>
    </form>
</body>
</html>